
body {
    background-image: linear-gradient(to top, #07062c , #04071d);
    padding: 0px;
	margin: 0px auto;
	max-width: auto;
    max-height: auto;
	background-color: rgb(212, 212, 212);
	font-family:Arial;
} 
/*Header*/
.header-background{
    height: 80px !important;
    background-image: linear-gradient(to right, #eee7f0 , #b9bff7);
    padding: 5px 20px 20 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: -20px;
}
.clogo {
    padding: 100px;
    width: 2cm;
    height: 2cm;
    align-self: center;   
}
ul {
    padding: 650px;
    margin: 5px;
    display: flex;
    overflow: hidden;
    list-style: none;
    border-color: #ba0af5;
}

/*Home */
#profile-picture{
    background-image: linear-gradient(to right, #ba0af5 , #e60099);
    padding: 1000px 20px 20px 20px;
    display: flex;
    align-items: right;
    position: sticky;
    top: 30px;
    padding-top: 20px;
    margin: 2px;
} 
.myself {
    width: 340px;
	height: 420px;
	border-radius: 10%;
	/*background-color: #060546;*/
	overflow: hidden;
	align-self: right;
    margin-left: 200px;
    float: right;
    padding-bottom: 10px;
  }
#openstat {
    padding-left:300px;
    padding-top: 100px;
    text-align: center;
    text-emphasis-color: white;
}

p {
    font-size:small;
    display: flex;
    align-items: right;
    position: sticky;
    top: 30px;
    padding-top: -20px;
}
/*Skills  */
#skill{
    /*padding: 20px 20px 20 20px;*/
    display: flex;
    align-items: right;
    position: sticky;
    top: 30px;
    padding-right: 5px;
} 
#skil img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    padding-right: px;
}

#skil div{
text-align: center;
padding-left: 5px;
}
#skil {
background-color: rgb(255, 250, 254);
padding: 1px 20px 20 20px;
display: flex;
align-items: right;
position: sticky;
top: 30px;
padding: 20px 10px;
margin: 00px;
}
/*#projects{
    background-image: linear-gradient(to right, #9b8ca0 , #c6fc63);
    padding: 1000px 20px 20 20px;
    display: flex;
    align-items: right;
    position: sticky;
    top: 30px;
    padding-top: 20px;
}*/

#Contact_Me {
    background-color: whitesmoke;
    padding: 20px 20px 20px 20px;
    display: sticky;
    align-items: right;
    position: sticky;
    top: 30px;
    padding: 20px 10px;
    align-items: center;
   
}
#Contact_Online img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 20px;
}
#Contact_Me{
    background-image: linear-gradient(to right, #9b8ca0 , #c6fc63);
    padding: 1000px 20px 20 20px;
    display: flex;
    align-items: right;
    position: sticky;
    top: 30px;
    padding-top: 20px;
} 
/*Portfolio*/
#proj img{
    width: 270px;
    height: 265px;
    border-radius: 15%;
    padding-left: 5px;
}
#proj div {
    text-align: center;
    margin: 10px;
}

#proj  {
    background-color: whitesmoke;
    /*padding: 20px 20px 20px 20px;*/
    display: flex;
    align-items: center;
    position: sticky;
    top: 10px;
    margin: 2px;
    padding-left: 15px;
}

nav {
	align-self: center;
	position: relative;
}
nav a{
	text-align: right;
    margin: 5px;
    padding-left: 50px;
    font-style: bold;
    font-size: large;
}

.button {
	padding: 5px;
	background-color: rgb(248, 149, 0);
	color: rgb(19, 4, 85);
	border-radius: 5px;
    border: #000D8B;
    float: right;
}

.main-menu-button{
	display: none;
	float: right;
 }

a.button {
	text-decoration: none;
	display: inline-flex;
}

/* footer css*/
.footer{
    height: 50px;
    width: auto;
    background-color: rgb(11, 1, 63);
    display: flex;
    align-items: center;
    padding-top: 0px;
    
}
.footer a{
    text-decoration: none;
    color: #fff;
    margin-left: 43%;
}
 .footer a span{
     color: var(--primary);
 }
 .footer img {
    width: 10px;
    height: 10px;
 }